@import "../../../css/partials/variables";
@import "../../../css/partials/mixins";

.inf {
    &-item {
        &_bq {

        }
    }
}

.section {
    &-title {
        max-width: 860px;
    }
}

@media screen and (max-width: $ipad_width) {
    .main-container {
        padding-top: 0;
        padding-bottom: 0;
    }
}
