@import "../../css/partials/variables";
@import "../../css/partials/mixins";

@media screen and (max-width: $ipad_width) {
    .main-container {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.inf {
    margin-bottom: 0;
}
