@import "../../css/partials/variables";
@import "../../css/partials/mixins";

@media screen and (max-width: $ipad_width) {
    .main-container {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.section {
    &-title {
        max-width: 925px;
    }
}

.inf {
    margin-bottom: 0;
}

.box {
    &-bq {
        @media screen and (max-width: $ipad_width) {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }
    }
}
.blockquote {
    &_tab {
        max-width: 100%;
        text-align: left;
    }
}
