@import "../css/partials/variables";
@import "../css/partials/mixins";

.search {
    max-width: 980px;
    width: 100%;
    @include marginAuto();
    &-form {
        margin-bottom: 80px;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
    }
    &-suggest {
        margin: 0;
        padding: 0;
        padding-left: 30px;
        border: none;
        width: 100%;
        background-color: #f8f8f3;
        color: #7d8082;
        font-size: 18px;
        font-style: italic;
        letter-spacing: 0.73px;
        line-height: 26px;
    }
    &-item {
        margin-bottom: 70px;
        padding-left: 53px;
        position: relative;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        &__link {
            margin-bottom: 20px;
            color: $color_705f50;
            font-size: 16px;
            font-weight: 800;
            letter-spacing: 1.12px;
            line-height: 22px;
            text-transform: uppercase;
        }
        &__text {
            font-weight: 500;
            & b {
                color: $color_00303c;
                font-weight: 700;
            }
        }
    }
    &__number {
        position: absolute;
        top: 0;
        left: 0;
        color: $color_705f50;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 1.12px;
        line-height: 22px;
        text-transform: uppercase;
    }
}
