@import "../css/partials/variables";
@import "../css/partials/mixins";

.reviews {
    &-list {
        margin-top: 90px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row wrap;
        margin-left: -10px;
        margin-right: -10px;
        width: 100%;
        justify-content: flex-start;
        @media screen and (max-width: $big-mobile_width) {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }
    &-slide {
        margin: 0 10px 20px;
        padding: 70px 40px;
        max-width: 370px;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 4px;
        background-color: #d9d1ca;
        position: relative;
        overflow: hidden;
        justify-content: flex-start;
        &:before {
            @include before(194px,-25px)
            width: 107px;
            height: 76px;
            background-image: url('/images/quotes-up.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }
        &:after {
            @include before(auto,auto,-25px,132px)
            width: 107px;
            height: 76px;
            background-image: url('/images/quotes-down.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }
        @media screen and (max-width: $ipad_width) {
            max-width: calc(50% - 20px);
        }
        @media screen and (max-width: $big-mobile_width) {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
    &-form {
        max-width: 500px;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        &__close {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 880px;
            height: 300px;
            box-shadow: 0 32px 146px rgba(0, 0, 0, 0.21);
            background-color: #ffffff;
            position: relative;
            z-index: 101;
            &_x {
                position: absolute;
                top: 20px;
                right: 20px;
                background-image: url('/images/icon/close.svg');
                background-repeat: no-repeat;
                width: 14px;
                height: 14px;
                cursor: pointer;
            }
        }
        &__title {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #00303c;
            font-size: 40px;
            letter-spacing: 0.96px;
            line-height: 44px;
            &_2 {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #00303c;
                font-size: 40px;
                letter-spacing: 0.96px;
                line-height: 44px;
            }
        }
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 254px;
            height: 50px;
            border-radius: 4px;
            background-color: #00b0b9;
            margin-top: 40px;
            &:hover {
            background-color: #87cfcd;
            }
            &_btn {
                color: #ffffff;
                font-size: 12px;
                letter-spacing: 0.54px;
                text-transform: uppercase;
            }
        }
    }
    &__input {
        border: none;
        margin-bottom: 20px;
        padding-left: 30px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        box-shadow: 0 32px 146px rgba(0, 0, 0, 0.21);
        border-radius: 4px;
        background-color: $white;
        color: #a2aaad;
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
        &:focus {
            outline: none;
        }
        &_text {
            min-height: 150px;
        }
    }
    &__check {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        box-shadow: 0 32px 146px rgba(0, 0, 0, 0.21);
        border-radius: 4px;
        background-color: $white;
        cursor: pointer;
        &.check {
            @include backgroundImage('/images/icon/form-check.svg', center center);
        }
    }
    &__label {
        & input {
            display: none;
        }
        & a {
            margin-left: 35px;
            color: #a2aaad;
            font-size: 12px;
            line-height: 20px;
        }
    }
    &__btn {
        align-self: center;
        &:focus {
            outline: none;
        }
    }
    &-detail {
        margin-top: 90px;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        border-radius: 4px;
        background-color: #d9d1ca;
        & .reviews {
            &-slide {
                max-width: 100%;
                margin: 0;
                padding-top: 0;
                &:before {
                    top: 80px;
                    left: 75px;
                }
                &:after {
                    bottom: 147px;
                    right: 85px;
                }
            }
            &__text {
                max-width: 100%;
                padding: 80px 100px 0;
            }
            &__img {
                display: block;
                margin: 90px auto 0;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                overflow: hidden;
                &_full {
                    margin-top: 0;
                    margin-bottom: 40px;
                    width: 100%;
                    height: 657px;
                    object-fit: cover;
                    border-radius: 0;
                }
            }
        }
    }
}

.main-container {
    @media screen and (max-width: $ipad_width) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.overlay {
    position: fixed;
    background-color: #00303c;
    opacity: 0.4;
    top: 0;
    width: 100%;
    height: 100%;
    &-reviews {
        position: fixed;
        top: 50%;
        z-index: 99999;
    }
}
