@import "../../css/partials/variables";
@import "../../css/partials/mixins";

.lectors {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column nowrap;
    &-item {
        margin-bottom: 70px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 410px;
        @media screen and (max-width: $ipad_width) {
            height: auto;
            flex-direction: column;
            align-items: center;
        }
    }
    &-photo {
        max-width: 378px;
        width: 100%;
        height: 410px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-desc {
        margin-left: -50px;
        padding: 0 80px 0 68px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: calc(100% + 50px);
        height: calc(100% - 60px);
        background-color: #f8f8f3;
        @media screen and (max-width: $ipad_width) {
            padding-top: 60px;
            padding-bottom: 60px;
            width: 100%;
            margin-left: 0;
        }
        @media screen and (max-width: $big-mobile_width) {
            padding: 30px 40px 30px 34px;
        }
    }
    &__title {
        margin-bottom: 20px;
        color: $color_705f50;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 1.12px;
        line-height: 22px;
        text-transform: uppercase;
    }
    &__text {
        color: #5f6162;
    }
    &__btn {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
}

.box {
    &-item {
        &_last {
            left: 120px;
        }
    }
    &__text {
        font-weight: 500;
    }
    &__popup-list {
        list-style-type: decimal;
        padding: 0 15px;
        li {
            margin-bottom: 15px;
        }        
    }
}
