@import "../../css/partials/variables";
@import "../../css/partials/mixins";

.works {
    &-container {
        width: 100%;
    }
    &-item {
        margin-bottom: 50px;
        &-desc {
            @media screen and (max-width: $big-mobile_width) {
                padding: 25px;
                & h4 {
                    font-size: 22px;
                    word-break: break-word;
                }
            }
        }
    }

    &-slide {
        display: none;
        &.active {
            display: block;
        }
    }
}

.section {
    &-layer {
        &__img {
            height: auto;
        }
    }
}
