html:not(.android-device) {
    * {
        text-rendering: geometricPrecision;
        &:focus {
            outline: none;
        }
    }
}

body {
    font-family: $museo_font;
    font-size: 14px;
}

// Order for block with picture and text
.order {
    &-1 {
        @media (max-width: $ipad_width) {
            order: 1;
        }
    }

    &-2 {
        @media (max-width: $ipad_width) {
            order: 2;
        }
    }
}

//Text styles
h1 {
    color: $color_00303c;
    font-size: 62px;
    font-weight: 800;
    line-height: 70px;
    letter-spacing: 1.48px;
    @media screen and (max-width: $ipad_width) {
        font-size: 56px;
        line-height: 64px;
    }
    @media screen and (max-width: $big-mobile_width) {
        font-size: 24px;
        line-height: 28px;
    }
}
.h1 {
    font-size: 50px;
    line-height: 58px;
    font-weight: 800;
    letter-spacing: 1.2px;
    @media screen and (max-width: $ipad_width) {
        font-size: 36px;
        line-height: 40px;
    }
    @media screen and (max-width: $big-mobile_width) {
        font-size: 22px;
        line-height: 24px;
    }
}

.h2,
h2 {
    color: $color_00303c;
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: 0.96px;
    @media screen and (max-width: $big-mobile_width) {
        font-size: 22px;
        line-height: 24px;
    }
}

.h3,
h3 {
    color: $color_00303c;
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: 0.86px;
    @media screen and (max-width: $big-mobile_width) {
        font-size: 18px;
        line-height: 22px;
    }
}

.h4,
h4 {
    color: $color_00303c;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 0.77px;
}

.text,
p {
    color: $color_7d8082;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.57px;
    @media screen and (max-width: $big-mobile_width) {
        font-size: 12px;
        line-height: 18px;
    }
    & a {
        color: $color_00b0b9;
        letter-spacing: 0.73px;
        text-decoration: underline;
    }
}

.tac {
    text-align: center;
}

.subtitle {
    color: $color_705f50;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.84px;
    @media screen and (max-width: $big-mobile_width) {
        font-size: 10px;
        line-height: 14px;
    }
}

//link
.link {
    position: relative;
    &_section {
        color: $color_705f50;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.63px;
        transition: $transition_all;
        &:hover {
            color: #a59385;
            &:before {
                border-color: #a59385;
            }
        }
        &:active,
        &:focus {
            color: #d6c5ad;
            &:before {
                border-color: #d6c5ad;
            }
        }
        &:before {
            @include before(auto,0,auto,0);
            width: 100%;
            border: 1px solid $color_705f50;
            transition: $transition_all;
        }
    }
}
// Button for request
.btn {
    padding: 18px 63px;
    color: $white;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background-color: $color_00b0b9;
    transition: $transition_all;
    &:hover {
        background-color: $color_87cfcd;
    }
    &:active,
    &:focus {
        color: #027278;
        background-color: #c5ece9;
    }
    @media screen and (max-width: $big-mobile_width) {
        max-width: 220px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        @include marginAuto();
        display: block;
    }
    &-wrapper {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        position: relative;
        flex-flow: row nowrap;
        align-items: flex-start;
        @media screen and (max-width: $big-mobile_width) {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        &_col {
            flex-direction: column;
            align-items: center;
        }
        &_posa {
            & .form {
                margin-bottom: 0;
                @media screen and (max-width: $ipad_width) {
                    margin-bottom: 35px;
                }
                &-security {
                    position: absolute;
                    top: 45px;
                    @media screen and (max-width: $ipad_width) {
                        position: static;
                        top: 0;
                    }
                }
            }
        }
    }
    &-modal {
        line-height: 14px;
        opacity: 1;
        transition: opacity .3s ease-in-out;
        &:hover {
            background-color: $color_00b0b9;
        }
        @media screen and (max-width: $big-mobile_width) {
            text-align: center;
        }
    }
}
//Blockquote
.blockquote {
    padding-left: 20px;
    color: $color_7d8082;
    font-family: $cambria;
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
    letter-spacing: 0.73px;
    position: relative;
    @media screen and (max-width: $big-mobile_width) {
        font-size: 14px;
        line-height: 22px;
        text-align: left;
    }
    &:before {
        @include before(-10px,0);
        width: 12px;
        height: 2px;
        border-radius: 2px 0 0 0;
        background-color: #a59385;
    }
    &:after {
        @include before(-8px,0);
        width: 2px;
        height: calc(100% + 15px);
        background-color: #a59385;
    }
    &_tab {
        display: none;
        @media screen and (max-width: $ipad_width) {
            display: block;
            max-width: 450px;
            width: 100%;
        }
    }
    & a {
        color: $color_00b0b9;
        letter-spacing: 0.73px;
        text-decoration: underline;
    }
}
//Sections
.section {
    position: relative;

    &-banner {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        height: 1080px;
        @media screen and (max-width: $ipad_width) {
            height: auto;
        }
    }

    &-padding {
        &_top {
            padding-top: 120px;
            @media (max-width: $big-mobile_width) {
                padding-top: 30px;
            }
        }

        &_bottom {
            padding-bottom: 120px;
            @media (max-width: $big-mobile_width) {
                padding-bottom: 30px;
            }
        }

        &_inner {
            padding-top: 160px;
            @media screen and (max-width: $ipad_width) {
                padding-top: 120px;
            }
            @media screen and (max-width: $big-mobile_width) {
                padding-top: 60px;
            }
        }
    }

    &-margin {
        &_top {
            margin-top: 150px;
            @media (max-width: $laptop_width) {
                margin-top: 100px;
            }
            @media (max-width: $big-mobile_width) {
                margin-top: 70px;
            }
            &-100 {
                margin-top: 100px;
            }
        }

        &_bottom {
            margin-bottom: 150px;
            @media (max-width: $laptop_width) {
                margin-bottom: 100px;
            }
            @media (max-width: $big-mobile_width) {
                margin-bottom: 70px;
            }
            &-100 {
                margin-bottom: 100px;
            }
        }
    }

    &-layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: right;
            @media screen and (max-width: $ipad_width) {
                object-position: 72%;
            }
            &_left {
                @media screen and (max-width: $big-mobile_width) {
                    object-position: 0;
                }
            }
        }
        &_grey {
            &:before {
                @include before(0,0);
                width: 100%;
                height: 100%;
                background: linear-gradient(160deg, rgba(239,239,239,1) 0%,rgba(255,255,255,0) 80%,rgba(165,147,133,0.46) 100%);
                z-index: 1;
                @media screen and (max-width: $ipad_width) {
                    background: linear-gradient(144deg,#efefef 55%,rgba(255,255,255,0) 80%,rgba(165,147,133,.46) 100%);
                }
            }
        }
    }

    // If need to hide some elements behind section
    &-overflow {
        overflow: hidden;
    }

    &-block {
        max-width: 600px;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        &_wide {
            max-width: 702px;
            width: 100%;
        }
    }
    &-slider {
        position: relative;
        justify-content: center;
    }
    &-title {
        max-width: 784px;
        width: 100%;
        @include marginAuto();
        text-align: center;
        word-break: break-word;
    }
}

//Containers width
.container {
    @include marginAuto();
    padding: 0;
    max-width: 1190px;
    width: 100%;
    @media (max-width: $laptop_width) {
        max-width: 100%;
        padding-left: 70px;
        padding-right: 70px;
    }
    @media (max-width: $big-mobile_width) {
        padding-left: 20px;
        padding-right: 20px;
    }

    &-flex {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        @media (max-width: $ipad_width) {
            flex-wrap: wrap;
        }
    }
}
// Block wrappers

.block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row nowrap;
    @media (max-width: $ipad_width) {
        flex-wrap: wrap;
    }

    &-wrapper {
        max-width: 50%;
        width: 100%;
        flex: 1 0 50%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        @media (max-width: $ipad_width) {
            max-width: none;
            flex: 1 0 100%;
        }
        @media screen and (max-width: $big-mobile_width) {
            text-align: center;
            align-items: center;
        }
        &_end {
            align-items: flex-end;
        }
        & .main__text {
            @media screen and (max-width: $ipad_width) {
                max-width: 100%;
            }
        }
        &_tleft {
            text-align: left;
            align-items: flex-start;
        }
    }

    &-img {
        max-width: 702px;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        flex: 1 0 702px;

        @media screen and (max-width: $ipad_width) {
            flex: 1 0 auto;
            margin-bottom: 90px;
        }

        @media screen and (max-width: $big-mobile_width) {
            align-items: center;
            text-align: center;
        }

        &_full {
            max-width: 100%;
            height: 560px;
            @media (max-width: $laptop_width) {
                height: 416px;
                margin-bottom: 0;
            }
            @media screen and (max-width: $ipad_width) {
                width: calc(100% + 140px);
                max-width: calc(100% + 140px);
                margin-left: -70px;
            }
            @media screen and (max-width: $big-mobile_width) {
                width: calc(100% + 40px);
                margin-left: -20px;
                height: 300px;
            }
            @media screen and (max-width: $mobile_width) {
                height: 190px;
            }
        }

        &_center {
            justify-content: center;
            @media screen and (max-width: $ipad_width) {
                margin-bottom: 0;
            }
        }

        &_end {
            align-self: flex-end;
            @media (max-width: $ipad_width) {
                align-self: flex-start;
            }
        }
        // This modificators use to move block-img to left or to right
        &_tleft {
            transform: translateX(-120px);
            @media screen and (max-width: $ipad_width) {
                transform: translateX(0);
            }
        }
        &_tright {
            transform: translateX(120px);
            @media screen and (max-width: $ipad_width) {
                transform: translateX(0);
            }
        }
        &.section-slider {
            @media screen and (max-width: $ipad_width) {
                margin-bottom: 143px;
            }
            @media screen and (max-width: $big-mobile_width) {
                margin-bottom: 90px;
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        @media (max-width: $laptop_width) {
            object-fit: cover;
        }
        &_full {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &_sticky {
            position: sticky;
            top: 100px;
        }
    }

    &-text {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        flex: 1;
        @media (max-width: $ipad_width) {
            flex-direction: column;
        }
    }
    &_top {
        align-items: flex-start;
    }
    &_center {
        align-items: center;
    }
    &_full {
        height: 100%;
        @media screen and (max-width: $ipad_width) {
            height: auto;
        }
    }
}

//Breadcrumbs
.breadcrumbs {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row wrap;
    @media screen and (max-width: $big-mobile_width) {
        flex-direction: column;
        align-items: center;
    }
    &-item {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        position: relative;
        &:after {
            @include before (12px,auto,9px,auto);
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: $color_87cfcd;
            @media screen and (max-width: $big-mobile_width) {
                top: auto;
                bottom: 9px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &:last-child {
            &:after {
                content: none;
            }
        }
    }
    &__link {
        margin-right: 20px;
        display: block;
        position: relative;
        color: #a59385;
        font-size: 12px;
        line-height: 26px;
        font-weight: 500;
        letter-spacing: .84px;
        transition: $transition_all;
        &:hover {
            color: #705f50;
        }
        @media screen and (max-width: $big-mobile_width) {
            margin-right: 0;
            margin-bottom: 20px;
        }
        &_active {
            font-weight: 700;
        }
    }
}

//Dots
.dots {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column nowrap;
    max-width: 500px;
    width: 100%;
    @media screen and (max-width: $big-mobile_width) {
        text-align: left;
    }
    &-item {
        position: relative;
        padding-left: 32px;
        margin-bottom: 30px;
        &:before {
            @include before(8px,0);
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $color_87cfcd;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__title {
        color: $color_705f50;
        font-weight: 800;
    }
    &__text {
        line-height: 24px;
        @media screen and (max-width: $big-mobile_width) {
            line-height: 18px;
        }
    }
}
//Arrows
.arrow {
    width: 15px;
    height: 15px;
    border: 8px solid transparent;
    border-right: 11px solid #a59385;
    position: absolute;
    cursor: pointer;
    transition: $transition_all;
    &:hover {
        border-right-color: $color_00b0b9;
    }
    &:active {
        border-right-color: #c5ece9;
    }
    &_prev {
        left: 15px;
    }
    &_next {
        right: 15px;
        transform: rotate(180deg);
    }
    &-container {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 84px;
        height: 84px;
        border-radius: 0 4px 0 0;
        background-color: $color_d9d1ca;
        position: relative;
        &_shares {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            @media screen and (max-width: $big-mobile_width) {
                left: -30px;
            }
        }
        &_reviews {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            background-color: #a59385;
            @media screen and (max-width: $big-mobile_width) {
                display: none;
            }
            & .arrow {
                border-right-color: $white;
                &:hover {
                    border-right-color: #00b0b9;
                }
                &:active {
                    border-right-color: #c5ece9;
                }
            }
        }
        &_license {
            position: absolute;
            right: 0;
            top: -110px;
            @media screen and (max-width: $big-mobile_width) {
                top: -65px;
                width: 64px;
                height: 64px;

                & .arrow {
                    &_prev {
                        left: 8px;
                    }
                    &_next {
                        right: 8px;
                    }
                }
            }
        }
        &_works {
            position: absolute;
            right: 0;
            top: -110px;
        }
    }
}
.main {
    &-container {
        width: 100%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        @media screen and (max-width: $ipad_width) {
            padding-top: 106px;
            padding-bottom: 100px;
        }
        @media screen and (max-width: $big-mobile_width) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        &_center {
            align-items: center;
        }
        &_row {
            flex-direction: row;
        }
        &_end {
            align-items: flex-end;
            @media screen and (max-width: $big-mobile_width) {
                padding-top: 0;
            }
        }
    }
    &-banner {
        @media screen and (max-width: $ipad_width) {
            padding-top: 206px;
        }
        @media screen and (max-width: $big-mobile_width) {
            padding-top: 72px;
            text-align: center;
            padding-bottom: 50px;
        }
    }
    &__subtitle {
        margin-bottom: 15px;
        color: #a59385;
        font-size: 12px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 0.84px;
    }
    &__text {
        margin-bottom: 60px;
        max-width: 485px;
        width: 100%;
        @media screen and (max-width: $big-mobile_width) {
            @include marginAuto();
            margin-bottom: 40px;
        }
    }
    &-inner {
        max-width: 985px;
        width: 100%;
        @include marginAuto();
        text-align: center;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}

//Advantages
.advantages {
    text-align: center;
    overflow: hidden;
    &__title {
        max-width: 780px;
        width: 100%;
        @include marginAuto();
    }
    &__text {
        max-width: 990px;
        width: 100%;
        @include marginAuto();
    }
    &-sliders {
        margin: 70px -40px 0;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        height: 319px;
        @media screen and (max-width: $big-mobile_width) {
            max-width: 281px;
            width: 100%;
        }
    }
    &-slider {
        margin: 0 40px;
        padding: 45px 29px 0;
        width: 341px;
        border-radius: 4px;
        height: 260px;
        background-color: $color_87cfcd;
        cursor: pointer;
        transition: $transition_all;
        @media screen and (max-width: $big-mobile_width) {
            width: 280px;
            margin: 0;
        }
        &_active {
            height: 319px;
            background-color: $color_00b0b9;
            @media screen and (max-width: $big-mobile_width) {
                height: auto;
                padding-top: 30px;
            }
            & .advantages-slider__text {
                display: block;
            }
        }
        &_prev,
        &_next {
            @media screen and (max-width: $ipad_width) {
                display: none;
            }
        }
        &-item {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;
        }
        &-logo {
            margin-bottom: 30px;
            max-width: 65px;
            width: 100%;
        }
        &__title {
            margin-bottom: 20px;
            color: $white;
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            text-transform: uppercase;
            letter-spacing: 1.26px;
            opacity: .9;
            @media screen and (max-width: $big-mobile_width) {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 15px;
            }
        }
        &__text {
            color: $white;
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: 0.57px;
            opacity: .75;
            display: none;
            @media screen and (max-width: $big-mobile_width) {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}

.shares {
    &-slider {
        width: 702px;
        height: 648px;
        align-self: center;
        @media screen and (max-width: $ipad_width) {
            width: 516px;
            height: 476px;
            margin-left: 0;
            margin-top: 66px;
        }
        @media screen and (max-width: $big-mobile_width) {
            width: 320px;
            height: 295px;
            margin-left: -30px;
            margin-top: 90px;
        }
        &-copy {
            position: absolute;
            width: 769px;
            height: 828px;
            top: -90px;
            left: 183px;
            z-index: -1;
            @media screen and (max-width: $ipad_width) {
                width: 566px;
                height: 609px;
                left: 134px;
                top: 0;
            }
            @media screen and (max-width: $big-mobile_width) {
                left: 30px;
                width: 350px;
                height: 378px;
                top: 50px;
                border-radius: 4px 0 0 4px;
            }
            &:before {
                @include before(0,0);
                width: 100%;
                height: 100%;
                background-color: rgba(0, 176, 185, 0.7);
                z-index: 2;
            }
        }
    }
    &-slide {
        position: relative;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    @media screen and (max-width: $ipad_width) {
        position: static;
        order: 2;
        margin-top: 20px;
        height: 1080px;
    }
    @media screen and (max-width: $big-mobile_width) {
        height: 568px;
    }
    & #map {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        pointer-events: auto;
        @media screen and (max-width: $ipad_width) {
            height: 1080px;
        }
        @media screen and (max-width: $big-mobile_width) {
            height: 568px;
        }
    }
    &-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(60deg,rgba(255,255,255,0) 0,rgba(255,255,255,.56) 94%,rgba(255,255,255,.75) 100%),linear-gradient(4deg,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 100%);
        z-index: -1;
        pointer-events: none;
    }
}

.reviews {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    position: relative;
    transform: translateX(120px);
    border-radius: 4px;
    background-color: #d9d1ca;
    z-index: 4;
    &:before {
        @include before(224px,70px);
        width: 107px;
        height: 76px;
        background-image: url('/images/quotes-up.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        @media screen and (max-width: $ipad_width) {
            width: 66px;
            height: 46px;
            top: 145px;
            left: 52px;
        }
        @media screen and (max-width: $big-mobile_width) {
            width: 49px;
            height: 34px;
            top: 80px;
            left: 30px;
        }
    }
    &:after {
        @include before(auto,auto,70px,153px);
        width: 107px;
        height: 76px;
        background-image: url('/images/quotes-down.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        @media screen and (max-width: $ipad_width) {
            width: 66px;
            height: 46px;
            bottom: 114px;
            right: 52px;
        }
        @media screen and (max-width: $big-mobile_width) {
            width: 49px;
            height: 34px;
            top: 80px;
            right: 30px;
        }
    }
    @media screen and (max-width: $ipad_width) {
        width: 702px;
        margin-left: 0;
        transform: translateX(70px);
    }
    @media screen and (max-width: $big-mobile_width) {
        width: calc(100% + 60px);
        transform: translateX(30px);
    }
    &-slider {
        width: calc(100% - 250px);
        margin: 0 125px;
        height: 588px;
        position: relative;
        @media screen and (max-width: $ipad_width) {
            margin: 0 53px;
            width: calc(100% - 106px);
        }
        @media screen and (max-width: $big-mobile_width) {
            width: calc(100%  - 60px);
            margin: 0 30px;
        }
    }
    &-slide {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    &-img {
        margin-bottom: 40px;
        width: 116px;
        height: 116px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__text {
        max-width: 562px;
        width: 100%;
        color: #5f6162;
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        text-align: center;
        line-height: 26px;
        letter-spacing: 0.73px;
        @media screen and (max-width: $big-mobile_width) {
            font-size: 15px;
            line-height: 20px;
        }
    }
    &__ps {
        color: #5f6162;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.57px;
        text-align: center;
    }
    &__link {
        color: $color_705f50;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.63px;
        position: relative;
        &:before {
            @include before(auto,0,auto,0);
            width: 100%;
            border: 1px solid $color_705f50;
            transition: $transition_all;
        }
    }
    &-layer {
        position: absolute;
        transform: translateX(373px);
        width: 769px;
        height: 828px;
        border-radius: 4px 0px 0px 4px;
        z-index: 3;
        &:before {
            @include before(0,0);
            width: 100%;
            height: 100%;
            background: rgba(0, 176, 185, 0.7);
        }
        @media screen and (max-width: $ipad_width) {
            transform: translateX(0);
            left: 200px;
        }
        @media screen and (max-width: $big-mobile_width) {
            display: none;
        }
        &__img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: -1;
        }
    }
}

//infographics

.inf {
    margin: 70px 0;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @media screen and (max-width: $big-mobile_width) {
        margin-bottom: 0;
    }
    &-wrapper {
        justify-content: center;
        flex-flow: row wrap;
        max-width: 1080px;
        width: 100%;
        @include marginAuto();
        @media screen and (max-width: $ipad_width) {
            justify-content: flex-start;
            flex-flow: unset;
        }
        &_left {
            justify-content: flex-start;
        }
        & .swiper-slide {
            width: auto;
            @media screen and (max-width: $ipad_width) {
                width: 100%;
            }
        }
    }
    &-item {
        margin: 0 40px 70px;
        max-width: 280px;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        @media screen and (max-width: $ipad_width) {
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (max-width: $big-mobile_width) {
            align-items: center;
            text-align: center;
        }
        &_bq {
            margin-top: 16px;
            max-width: 486px;
            width: 486px;
            align-items: flex-start;
            position: absolute;
            left: 150px;
            @media screen and (max-width: $ipad_width) {
                display: none;
            }
        }
    }
    &-img {
        margin-bottom: 35px;
        width: 78px;
        height: 76px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__title {
        margin-bottom: 15px;
        color: $color_705f50;
        font-size: 16px;
        font-weight: 800;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 1.12px;
    }
}

//Box styles for block with 2 block example: services-menu doctors and etc.
.box {
    margin: 70px -10px 0 -10px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row wrap;
    @media screen and (max-width: $ipad_width) {
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 80px;
    }
    @media screen and (max-width: $mobile_width) {
        width: 320px;
        margin-left: 50%;
        margin-bottom: 10px;
        transform: translateX(-50%);
    }
    &-wrapper {
        flex-wrap: wrap;
        @media screen and (max-width: $ipad_width) {
            flex-wrap: unset;
        }
    }
    &-bq {
        display: none;
        @media screen and (max-width: $ipad_width) {
            display: block;
        }
    }
    &-slide {
        margin: 0 10px 80px 10px;
        max-width: 381px;
        width: 100%;
        &:last-child {
            @media screen and (max-width: $ipad_width) {
                display: none;
            }
        }
        @media screen and (max-width: $ipad_width) {
            width: auto;
            max-width: none;
            margin: 0;
        }
    }
    &-item {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        max-width: 381px;
        width: 100%;
        @media screen and (max-width: $ipad_width) {
            margin-left: auto;
            margin-right: auto;
        }
        &_last {
            margin-top: 86px;
            max-width: 486px;
            width: 100%;
            margin-left: auto;
            align-items: flex-start;
            position: absolute;
            left: calc(100% - 95px);
            @media screen and (max-width: $ipad_width) {
                display: none;
            }
        }
    }
    &-img {
        max-width: 381px;
        width: 100%;
        &_menu {
            height: 320px;
            @media screen and (max-width: $big-mobile_width) {
                height: 269px;
            }
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-desc {
        margin: -57px 30px 0;
        padding: 50px 45px 85px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        background-color: #f8f8f3;
        position: relative;
        @media screen and (max-width: $big-mobile_width) {
            text-align: center;
            margin-left: 20px;
            margin-right: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &__title {
        margin-bottom: 20px;
        color: $color_705f50;
        font-size: 16px;
        font-weight: 800;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 1.12px;
        @media screen and (max-width: $big-mobile_width) {
            font-size: 14px;
            line-height: 20px;
        }
    }
    &__text {
        color: #5f6162;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        @media screen and (max-width: $big-mobile_width) {
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__link {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        border-radius: 0 4px 0 0;
        background-color: $color_d9d1ca;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            @include before(auto,auto);
            width: 13px;
            height: 13px;
            border: 6px solid transparent;
            border-left: 7px solid #a59385;
            cursor: pointer;
            transition: all .3s ease-in-out;
            transform: translateX(4px);
        }
        &:hover {
            &:before {
                border-left-color: $color_00b0b9;
            }
        }
        &:active {
            &:before {
                border-left-color: #c5ece9;
            }
        }
    }
    &-submenu {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        &__title {
            display: inline-block;
            margin-bottom: 25px;
            color: $color_705f50;
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            text-align: left;
            text-decoration: underline;
        }
    }
}

// Form inline
.form {
    margin-bottom: 35px;
    position: relative;
    max-width: 280px;
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active,
    &:focus-within {
        & .form-input {
            width: 100%;
        }
        & .form__submit {
            width: 50px;
            transition: all .5s ease-in-out 0;
            transition-delay: .5s;
        }
    }
    @media screen and (max-width: $ipad_width) {
        flex-flow: column nowrap;
        align-items: center;
        height: auto;
    }
    @media screen and (max-width: $big-mobile_width) {
        margin-bottom: 25px;
        max-width: 220px;
    }
    &-security {
        margin-top: 20px;
        position: static;
        width: 100%;
        height: auto;
        color: #a2aaad;
        text-align: center;
        font-family: $museo_font;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        @media screen and (max-width: $tablet_width) {
            color: $color_705f50;
        }
        @media screen and (max-width: $big-mobile_width) {
            left: -30px;
        }
        & a {
            color: $color_00b0b9;
        }
    }
    &-input {
        position: absolute;
        left:0;
        width: 0;
        max-height: 50px;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        opacity: 1;
        z-index: 1;
        overflow: hidden;
        transition: all 1s ease-in-out;
        transition-delay: 0s;
    }
    &__input {
        margin: 0;
        padding: 18px 0 18px 20px;
        max-width: 228px;
        width: 100%;
        height: 100%;
        border: none;
        font-size: 12px;
        font-weight: 600;
        line-height: 26px;
        flex: 1;
        border-radius: 4px 0 0 4px;
        border: 1px solid #e8e8e7;
        overflow: hidden;
        @media screen and (max-width: $big-mobile_width) {
            max-width: 170px;
            font-size: 10px;
        }
    }
    &__submit {
        margin: 0;
        padding: 0;
        width: 0;
        height: 50px;
        border: none;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        background-color: $color_00b0b9;
        overflow: hidden;
        transition: all .5s ease-in-out;
        transition-delay: 0;
        position: relative;
        &:before {
            @include before(50%,20px);
            width: 15px;
            height: 15px;
            border: 8px solid transparent;
            border-left: 11px solid $white;
            position: absolute;
            cursor: pointer;
            transform: translateY(-50%);
        }
    }
    &-success {
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0s ease-in-out, width 0s ease-in-out;
        z-index: 3;
        &:before {
            @include before(0,0);
            width: 50px;
            height: 50px;
            border-radius: 4px;
            background-color: $color_00b0b9;
            background-image: url('/images/icon/ok.svg');
            background-repeat: no-repeat;
            background-position: center center;
            transform: translateX(280px);
            transition: all 1s ease-in-out;
        }
        &.show {
            opacity: 1;
            transition: width 1s ease-in-out, opacity 1s ease-in-out;
            &:before {
                transform: translateX(0);
            }
            & .form__success {
                transform: translateX(0);
                transition: all 1s ease-in-out;
            }
        }
    }
    &__success {
        position: absolute;
        left: 60px;
        width: 100%;
        height: 100%;
        color: $color_7d8082;
        font-size: 12px;
        font-weight: 600;
        line-height: 50px;
        transform: translateX(280px);
        transition: all 1s ease-in-out;
        @media screen and (max-width: $big-mobile_width) {
            font-size: 10px;
            left: 20px;
        }
    }
}

@keyframes inline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

// hide class
.hide {
    opacity: 0;
    transition: opacity 0s ease-in-out;
}

//services  and services menu
.services {
    position: relative;
    &-wrapper {
        position: relative;
        width: 500px;
        height: 500px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: $ipad_width) {
            transform: scale(0.87);
        }
        @media screen and (max-width: $big-mobile_width) {
            transform: scale(1);
            align-items: flex-start;
            max-width: none;
            width: 100%;
            height: auto;
            flex-direction: column;
        }
    }
    &-menu {
        position: relative;
        width: 100%;
        height: 100%;
        @media screen and (max-width: $big-mobile_width) {
            display: none;
        }
    }
    &-item {
        opacity: 1;
        visibility: visible;
        overflow: hidden;
        position: absolute;
        transition: $transition_all;
        &.hide {
            opacity: 0;
            visibility: hidden;
            .services__link {
            }
        }
        &.active {
            & .services__link {
                font-size: 14px;
                font-weight: 800;
                line-height: 20px;
                letter-spacing: 1.38px;
                text-transform: uppercase;
                color: $color_00303c;
            }
            &:after {
                transform: scale(1);
            }
        }
        &:before {
            @include before(0,0);
            width: 12px;
            height: 12px;
            border: 1px solid $color_705f50;
            border-radius: 50%;
            background: #eceded;
        }
        &:after {
            @include before(0,0);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $color_00b0b9;
            transform: scale(0);
            cursor: pointer;
            transition: $transition_all;
        }
        &:nth-child(1) {
            top: -35px;
            left: 238px;
            padding-left: 15px;
            padding-bottom: 30px;
            &:before {
                top: 33px;
                left: 5px;
            }
            &:after {
                top: 35px;
                left: 7px;
            }
        }
        &:nth-child(2) {
            top: 45px;
            left: 388px;
            padding-left: 45px;
            &:before {
                top: 2px;
                left: 2px;
            }
            &:after {
                top: 4px;
                left: 4px;
            }
        }
        &:nth-child(3) {
            top: 160px;
            left: 470px;
            padding-left: 50px;
            &:before {
                top: 4px;
                left: 6px;
            }
            &:after {
                top: 6px;
                left: 8px;
            }
        }
        &:nth-child(4) {
            top: 313px;
            left: 471px;
            padding-left: 47px;
            &:before {
                top: 4px;
                left: 6px;
            }
            &:after {
                top: 6px;
                left: 8px;
            }
        }
        &:nth-child(5) {
            top: 437px;
                left: 380px;
                padding-left: 47px;
            &:before {
                top: 4px;
                left: 8px;
            }
            &:after {
                top: 6px;
                left: 10px;
            }
        }
        &:nth-child(6) {
            top: 485px;
            left: 240px;
            padding-top: 37px;
            padding-left: 10px;
            &:before {
                top: 3px;
                left: 3px;
            }
            &:after {
                top: 5px;
                left: 5px;
            }
        }
        &:nth-child(7) {
            left: -67px;
            bottom: 23px;
            &:before {
                top: 4px;
                left: 166px;
            }
            &:after {
                top: 6px;
                left: 168px;
            }
        }
        &:nth-child(8) {
            left: -145px;
            bottom: 159px;
            padding-right: 47px;
            &:before {
                top: 4px;
                left: 155px;
            }
            &:after {
                top: 6px;
                left: 157px;
            }
        }
        &:nth-child(9) {
            top: 164px;
            left: -165px;
            &:before {
                top: 3px;
                left: 175px;
            }
            &:after {
                top: 5px;
                left: 177px;
            }
        }
        &:nth-child(10) {
            top: 37px;
            left: -27px;
            padding-right: 47px;
            &:before {
                top: 6px;
                left: 126px;
            }
            &:after {
                top: 8px;
                left: 128px;
            }
        }
    }
    &__link {
        display: block;
        max-width: 190px;
        width: 100%;
        font-size: 14px;
        font-weight: 800;
        line-height: 20px;
        letter-spacing: 1.38px;
        text-transform: uppercase;
        transition: $transition_all;
    }
    & div[data-anim~=base] {
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function:linear;
    }
    &-ring {
        width: 494px;
        height: 494px;
        position: absolute;
        clip: rect(0, 494px, 494px, 247px);
        &[data-anim~=ring] {
            animation-duration: .01s;
            animation-delay: 1.5s;
            animation-name: close-wrapper;
        }
        &.hide {
            display: none;
        }
        @media screen and (max-width: $big-mobile_width) {
            display: none;
        }
        &__part {
            width: 492px;
            height: 492px;
            border: 1px solid $color_705f50;
            border-radius: 50%;
            position: absolute;
            clip: rect(0, 247px, 494px, 0);
            &[data-anim~=left] {
                animation-duration: 3s;
                animation-name: left-spin;
            }
            &[data-anim~=right] {
                animation-duration: 1.5s;
                animation-name: right-spin;
            }
        }
    }
    &-content {
        position: absolute;
        max-width: 380px;
        width: 100%;
        @include marginAuto();
        opacity: 1;
        transition: $transition_all;
        &.hide {
            opacity: 0;
            @media screen and (max-width: $big-mobile_width) {
                opacity: 1;
            }
        }
        @media screen and (max-width: $big-mobile_width) {
            position: relative;
        }
        & .h3 {
            @media screen and (max-width: $big-mobile_width) {
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
            }
        }
    }
    &-submenu {
        margin-bottom: 40px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        &-item {
            margin-bottom: 17px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__link {
            font-size: 13px;
            font-weight: 800;
            color: $color_705f50;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.91px;
            text-transform: uppercase;
            border-bottom: 2px solid $color_705f50;
        }
    }
    &-desc {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    &__btn {
        position: absolute;
        width: 220px;
        bottom: 30px;
    }
    &-m {
        margin-top: 50px;
        display: none;
        width: calc(100% + 40px);
        margin-left: -20px;
        position: relative;
        flex-direction: column;
        &:before {
            @include before(44px,0);
            width: 100%;
            height: 1px;
            background-color: $color_705f50;
            opacity: .6;
        }
        @media screen and (max-width: $big-mobile_width) {
            display: flex;
        }
        &-item {
            padding-bottom: 100px;
            max-width: 135px;
            width: 100%;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;
            & .btn {
                opacity: 0;
                transition: all .5s ease-in-out;
            }
            &_active {
                & .services-m {
                    &-link {
                        justify-content: flex-start;
                        &:after {
                            width: 7px;
                            height: 7px;
                        }
                    }
                    &__link {
                        width: 280px;
                        color: $color_00303c;
                        font-size: 20px;
                        line-height: 23px;
                        text-align: center;
                        letter-spacing: 0.478125px;
                        text-transform: none;
                        pointer-events: auto;
                    }
                    &__info,
                    &-sub {
                        opacity: 1;
                        visibility: visible;
                        transition: all .5s ease-in-out .5s;
                    }
                    &__title {
                        pointer-events: auto;
                        z-index: 10;
                    }
                }
                & .btn {
                    opacity: 1;
                    transition: all .5s ease-in-out .5s;
                }
            }
        }
        &-link {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: column nowrap;
            position: relative;
            height: 85px;
            justify-content: flex-end;
            &:before {
                @include before(38px,50%);
                width: 11px;
                height: 11px;
                border: 1px solid $color_705f50;
                border-radius: 50%;
                background: #eceded;
                transform: translateX(-50%);
            }
            &:after {
                @include before(40px,50%);
                width: 0;
                height: 0;
                border-radius: 50%;
                background-color: $color_00b0b9;
                transform: translateX(-50%);
                cursor: pointer;
                transition: $transition_all;
            }
        }
        &__link {
            color: $color_705f50;
            font-size: 9px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.887143px;
            text-transform: uppercase;
            pointer-events: none;
        }
        &__info {
            margin-top: 20px;
            text-align: center;
            opacity: 0;
            width: 280px;
            transition: all .5s ease-in-out;
        }
        &__title {
            color: $color_705f50;
            font-size: 12px;
            font-weight: 600;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.84px;
            text-transform: uppercase;
            position: relative;
            background-image: linear-gradient($color_705f50, $color_705f50);
            background-position: 0 100%;
            background-size: 100% 1px;
            background-repeat: repeat-x;
            pointer-events: none;
            z-index: -1;
        }
        &-sub {
            margin-top: 15px;
            width: 280px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease-in-out;
            &-item {
                margin-bottom: 15px;
                text-align: center;
            }
        }
    }
}

@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}
@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes close-wrapper {
    to {
        clip: rect(auto, auto, auto, auto);
    }
}
//pagination
.pagination {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    &-container {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        &_advantages {
            margin-top: 65px;
            height: 20px;
            overflow: hidden;
        }
        &_inf {
            height: 18px;
            display: block;
        }
        &_box {
            display: block;
            height: 18px;
            margin-top: 30px;
        }
        &_doctors {
            display: block;
            height: 18px;
            margin-top: 60px;
        }
        &_reviews {
            display: none;
            @media screen and (max-width: $big-mobile_width) {
                display: block;
                height: 18px;
                transform: translateY(-60px);
            }
        }
        &_gallery {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &-dots {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        & li {
            width: auto;
            height: auto;
        }
        & .slick-active {
            & .pagination-dot {
                height: 17px;
                background-color: #705f50;
            }
        }
    }
    &-dot {
        margin: 0 10px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 2px;
        height: 13px;
        background-color: #a2aaad;
        cursor: pointer;
        transition: $transition_all;
        &.active {
            height: 17px;
            background-color: #705f50;
        }
        &:focus {
            outline: none;
        }
    }
}

//doctors
.doctors {
    margin: 70px -10px 0 -10px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row wrap;
    @media screen and (max-width: $ipad_width) {
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }
    @media screen and (max-width: $big-mobile_width) {
        width: 320px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    &-slide {
        margin: 0 10px 80px 10px;
        max-width: 381px;
        width: 100%;
        &:last-child {
            @media screen and (max-width: $ipad_width) {
                display: none;
            }
        }
        @media screen and (max-width: $ipad_width) {
            width: auto;
            max-width: none;
            margin: 0;
        }
    }
    &-item {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        max-width: 381px;
        width: 100%;
        @media screen and (max-width: $ipad_width) {
            margin-left: auto;
            margin-right: auto;
        }
        &_last {
            margin-top: 86px;
            max-width: 486px;
            width: 100%;
            margin-left: auto;
            align-items: flex-start;
            position: absolute;
            left: calc(100% - 95px);
            @media screen and (max-width: $ipad_width) {
                display: none;
            }
        }
    }
    &-img {
        max-width: 381px;
        width: 100%;
        &_doctors {
            height: 410px;
            @media screen and (max-width: $big-mobile_width) {
                height: 269px;
            }
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-desc {
        margin: -57px 30px 0;
        padding: 50px 45px 85px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        background-color: #f8f8f3;
        position: relative;
        @media screen and (max-width: $big-mobile_width) {
            text-align: center;
            margin-left: 20px;
            margin-right: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &__title {
        margin-bottom: 20px;
        color: $color_705f50;
        font-size: 16px;
        font-weight: 800;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 1.12px;
        @media screen and (max-width: $big-mobile_width) {
            font-size: 14px;
            line-height: 20px;
        }
    }
    &__text {
        color: #5f6162;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        @media screen and (max-width: $big-mobile_width) {
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__link {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        border-radius: 0 4px 0 0;
        background-color: $color_d9d1ca;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            @include before(auto,auto);
            width: 13px;
            height: 13px;
            border: 6px solid transparent;
            border-left: 7px solid #a59385;
            cursor: pointer;
            transition: all .3s ease-in-out;
            transform: translateX(4px);
        }
        &:hover {
            &:before {
                border-left-color: $color_00b0b9;
            }
        }
        &:active {
            &:before {
                border-left-color: #c5ece9;
            }
        }
    }
}

//styles for menu pagination on main page.
#menu {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 1000;
    @media screen and (max-width: $big-notebook_width) {
        left: 5%;
    }
    @media screen and (max-width: $smallpc_width) {
        left: 2%;
    }
    @media screen and (max-width: $ipad_width) {
        display: none;
    }
    & a {
        margin-bottom: 15px;
        display: block;
        width: 15px;
        height: 2px;
        background-color: #a2aaad;
        transition: all .5s ease-in-out;
    }
    & li.active {
        a {
            width: 30px;
            background-color: $color_705f50;
        }
    }
}

.fp-section {
    &.active {
        & .section-layer__parallax {
            transform: scale(1);
        }
    }
}
.section-layer__parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: 0 -10px;
    background-attachment: fixed;
    transform: scale(1.05);
    transition: all 1.5s ease-in-out;
    transition-delay: .7s;
    @media screen and (max-width: $ipad_width) {
        background-position: 72%;
        transform: scale(1);
        background-attachment: scroll;
    }
    &_ring {
        @media screen and (max-width: $ipad_width) {
            background-position: center center;
        }
    }
}

.filter {
    &-list {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }
    &__link {
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 18px 40px;
        color: $color_7d8082;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.54px;
        border-radius: 4px;
        border: 1px solid #e8e8e7;
        background-color: $white;
        transition: $transition_all;
        &_active {
            color: #027278;
            background-color: #c5ece9;
        }
        @media screen and (max-width: $ipad_width) {
            @include marginAuto();
            max-width: 320px;
            width: 100%;
            text-align: center;
        }
    }
}

.works {
    position: relative;
    &-item {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        @media screen and (max-width: $big-mobile_width) {
            flex-direction: column;
        }
        &-photo {
            max-width: 480px;
            width: 100%;
            height: 360px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: row nowrap;
            @media screen and (max-width: $big-mobile_width) {
                max-width: 100%;
            }
            &_horizontal {
                flex-flow: column nowrap;
                & .works-item-photo-item {
                    margin-right: 0;
                    margin-bottom: 6px;
                    max-width: 100%;
                    width: 100%;
                    max-height: 178px;
                    height: 100%;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            &-item {
                margin-right: 6px;
                max-width: 237px;
                width: 100%;
                height: 100%;
                position: relative;
                @media screen and (max-width: $big-mobile_width) {
                    max-width: 50%;
                }
                &:last-child {
                    margin-right: 0;
                }
                &:before {
                    @include before(auto,0,auto,0);
                    width: 95px;
                    height: 50px;
                    border-radius: 0 4px 0 0;
                    background-color: #f8f8f3;
                    color: $color_705f50;
                    font-size: 14px;
                    font-weight: 800;
                    letter-spacing: 0.98px;
                    line-height: 22px;
                    text-transform: uppercase;
                    display: -webkit-flex;
                    display: -ms-flex;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            &_before {
                &:before {
                    content: 'до';
                }
            }
            &_after {
                &:before {
                    content: 'после';
                }
            }
            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-desc {
            padding: 0 80px 0 120px;
            background-color: #f8f8f3;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            width: 100%;
            text-align: left;
            position: relative;
            @media screen and (max-width: $big-mobile_width) {
                padding: 60px;
            }
            & .subtitle {
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 800;
                letter-spacing: 1.12px;
                line-height: 22px;
                text-transform: uppercase;
                @media screen and (max-width: $big-mobile_width) {
                    font-size: 13px;
                    line-height: 19px;
                }
            }
        }
    }
    &-detail {
        margin-top: 90px;
        margin-bottom: 150px;
        padding: 80px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        background-color: #f8f8f3;
        @media screen and (max-width: $ipad_width) {
            margin-top: 60px;
        }
        & .works-item-desc {
            padding: 0;
            max-width: 580px;
            width: 100%;
        }
        &-photo {
            margin-bottom: 50px;
            width: 100%;
            height: 635px;
        }
        &-thumb {
            margin-bottom: 80px;
            width: 100%;
            height: 135px;
            &-slide {
                max-width: 180px;
                width: 100%;
                height: 135px;
                cursor: pointer;
                &:before {
                    @include before(0,0);
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    z-index: 10;
                    transition: $transition_all;
                }
                &.swiper-slide-thumb-active {
                    &:before {
                        background-color: rgba(0, 176, 185, 0.5);
                    }
                }
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &-slide {
            width: 100%;
            max-height: 635px;
            height: 100%;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__subtitle {
        color: $color_705f50;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 1.12px;
        line-height: 22px;
        text-transform: uppercase;
    }
    &__title {
        color: $color_00303c;
        font-size: 32px;
        font-weight: 800;
        letter-spacing: 0.77px;
        line-height: 36px;
    }
    &__doctor {
        color: $color_705f50;
        font-size: 14px;
        font-weight: 800;
        line-height: 24px;
    }
    &__text {
        margin-bottom: 5px;
        color: $color_705f50;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }
}

.license {
    margin-top: 70px;
    max-width: 100%;
    width: 100%;
    position: relative;
    height: 566px;
    &-item {
        max-width: 380px;
        width: 100%;
        @media screen and (max-width: $ipad_width) {
            @include marginAuto();
        }
        & a {
            display: block;
            width: 100%;
            height: 100%;
            @media screen and (max-width: $big-mobile_width) {
                text-align: center;
            }
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.shares {
    &-list {
        margin-top: 90px;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        @media screen and (max-width: $big-mobile_width) {
            margin-top: 45px;
        }
    }
    &-item {
        margin-bottom: 50px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        @media screen and (max-width: $tablet_width) {
            flex-flow: column nowrap;
            align-items: center;
        }
    }
    &-photo {
        margin-right: 15px;
        width: 480px;
        @media screen and (max-width: $big-mobile_width) {
            max-width: 100%;
            height: 360px;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-desc {
        padding: 50px 80px 30px 100px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        background-color: #f8f8f3;
        flex: 1;
        @media screen and (max-width: $ipad_width) {
            padding: 30px 40px 15px 50px;
        }
        @media screen and (max-width: $big-mobile_width) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &__title {
        margin-bottom: 20px;
        color: $color_705f50;
        font-size: 16px;
        font-weight: 800;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 1.12px;
    }
    &__text {
        strong {
            font-size: 16px;
            color: $color_00303c;
        }
    }
}

.sitemap {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column wrap;
    max-width: 1190px;
    width: 100%;
    @include marginAuto();
    height: 700px;
    @media screen and (max-width: $ipad_width) {
        height: auto;
    }
    &-item {
        margin-right: 30px;
        max-width: 270px;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        @media screen and (max-width: $ipad_width) {
            max-width: calc(50% - 30px);
        }
        @media screen and (max-width: $big-mobile_width) {
            max-width: 100%;
        }
        &:last-child {
            max-width: calc(100% - 300px);
            height: 100%;
            @media screen and (max-width: $ipad_width) {
                max-width: 100%;
                height: 920px;
                & .sitemap-submenu {
                    flex-direction: column;
                }
            }
            @media screen and (max-width: $big-mobile_width) {
                height: auto;
            }
        }
    }
    &-submenu {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column wrap;
        @media screen and (max-width: $ipad_width) {
            flex-direction: row;
        }
        @media screen and (max-width: $big-mobile_width) {
            flex-direction: column;
        }
        &__title {
            margin-bottom: 20px;
            color: $color_7d8082;
            font-size: 12px;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 0.82px;
        }
        &-list {
            margin-bottom: 40px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: column nowrap;
        }
        &-item {
            max-width: 270px;
            width: 100%;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: column nowrap;
            @media screen and (max-width: $ipad_width) {
                max-width: calc(50% - 50px);
                margin-right: 50px;
            }
            @media screen and (max-width: $big-mobile_width) {
                max-width: 100%;
                margin-right: 0;
            }
        }
        &__link {
            margin-bottom: 20px;
            color: $color_7d8082;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0.82px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__link {
        margin-bottom: 30px;
        color: $color_705f50;
        font-size: 16px;
        font-weight: 800;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 1.12px;
    }
}

.legal {
    max-width: 980px;
    width: 100%;
    @include marginAuto();
    margin-top: 90px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column nowrap;
    &-item {
        margin-bottom: 40px;
        padding-left: 37px;
        position: relative;
        &:before {
            @include before(8px,0);
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $color_87cfcd;
        }
    }
    &__link {
        color: $color_705f50;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 1.12px;
        line-height: 22px;
        text-transform: uppercase;
    }
}

.vtour {
    margin-top: 90px;
    margin-bottom: 150px;
    width: 100%;
    height: 700px;
    position: relative;
    @media screen and (max-width: $big-mobile_width) {
        height: 480px;
    }
}

.found {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    &-img {
        max-width: 782px;
        width: 100%;
        @include marginAuto();
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.d-none {
    display: none;
}

$maxWidth: 1000;
@while $maxWidth > 0 {
    .max-width-#{$maxWidth} { max-width: 1px * $maxWidth; }
    $maxWidth: $maxWidth - 1;
}

@media (min-width: 992px){
    $maxWidth2: 1000;
    @while $maxWidth2 > 0 {
            .max-width-#{$maxWidth2}-lg { max-width: 1px * $maxWidth2; }
      $maxWidth2: $maxWidth2 - 1;
    }
}

// disclamer
.disclamer {
    display: none;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 75%;
    right: 2%;
    width: 580px;
    height: 210px;
    background-image: url('/images/disclamer.png');
    background-position: center;
    background-size: cover;
    padding: 40px;
    z-index: 999;

    @media (max-width: 767px) {
        top: 55%;
        right: 2.5%;
        max-width: 95%;
        height: 270px;
    }

    @media (max-width: 380px) {
        top: auto;
        bottom: 30px;
        padding: 25px;
        height: auto;
    }

    &-link {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        @media (max-width: 380px) {
            flex-direction: column;
        }

        & a {
            position: relative;
            align-self: center;
            color: #705f50;
            font-size: 14px;
            letter-spacing: 0.63px;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            &::before {
                content: '';
                position: absolute;
                top: auto;
                left: 0;
                right: auto;
                bottom: 0;
                width: 100%;
                border: 1px solid #705f50;
                -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }
            &:hover {
                color: #a59385;
            }
            &:hover a::before {
                border: 1px solid #a59385;
            }
        }
        &__btn {
            color: #ffffff;
            font-family: "Museo Sans Cyrl 500";
            font-size: 12px;
            letter-spacing: 0.54px;
            text-transform: uppercase;
            padding: 13px 32px;
            border-radius: 4px;
            background-color: #00b0b9;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            cursor: pointer;
            &:hover {
                background-color: #87cfcd;
            }

            @media (max-width: 380px) {
                margin-top: 20px;
                text-align: center;
            }
        }
    }
}
