@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('/fonts/MuseoSansCyrl-300.eot');
    src: url('/fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
        url('/fonts/MuseoSansCyrl-300.woff2') format('woff2'),
        url('/fonts/MuseoSansCyrl-300.woff') format('woff'),
        url('/fonts/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('/fonts/Cambria.eot');
    src: url('/fonts/Cambria.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Cambria.woff2') format('woff2'),
        url('/fonts/Cambria.woff') format('woff'),
        url('/fonts/Cambria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
