.footer {
    width: 100%;
    background-color: #bde2e4;
    &.fp-section {
        height: auto !important;
    }
    &-list {
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        border-bottom: 1px solid rgba(0, 176, 185, 0.3);
        @media screen and (max-width: $ipad_width) {
            align-items: flex-start;
            padding-top: 40px;
            padding-bottom: 30px;
        }
        @media screen and (max-width: $big-mobile_width) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__link {
        margin-right: 75px;
        color: $color_7d8082;
        font-size: 15px;
        font-weight: 600;
        line-height: 28px;
        text-decoration: underline;
        position: relative;
        @media screen and (max-width: $big-mobile_width) {
            margin-right: 0;
        }
    }
    &-search {
        margin: 30px 0 20px auto;
        max-width: 270px;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        @media screen and (max-width: $ipad_width) {
            margin-top: 0;
        }
        @media screen and (max-width: $big-mobile_width) {
            order: 1;
            margin-left: 0;
        }
        &-form {
            width: 100%;
            height: 100%;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: row nowrap;
        }
        &__input {
            padding: 10px 0 7px 30px;
            width: 100%;
            color: #a2aaad;
            font-size: 14px;
            font-weight: 600;
            line-height: 28px;
            border: none;
            border-radius: 4px 0 0 4px;
            background-color: $white;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #a2aaad;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: #a2aaad;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: #a2aaad;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: #a2aaad;
            }
        }
        &__btn {
            width: 52px;
            height: 50px;
            border: none;
            border-radius: 0 4px 4px 0;
            background-color: #a59385;
            background-image: url('/images/icon/search.svg');
            background-repeat: no-repeat;
            background-position: center;
            flex: 1 0 52px;
        }
    }
    &-bottom {
        margin: 30px 0 47px;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: $big-mobile_width) {
            flex-direction: column;
            align-items: center;
        }
    }
    &-social {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        margin: 0 -15px;
        @media screen and (max-width: $big-mobile_width) {
            margin: 20px 0;
        }
        &__link {
            margin: 0 15px;
            width: 35px;
            height: 35px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            border-radius: 4px;
            justify-content: center;
            align-items: center;
            background-color: $color_00b0b9;
            opacity: .8;
            transition: $transition_all;
            &:hover {
                background-color: #027278;
            }
            &:active {
                & .icon {
                    fill: $white;
                }
            }
        }
    }
    &__copyright {
        color: rgba(0, 176, 185, 0.8);
        font-size: 14px;
        font-weight: 600;
    }
    &-menu {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @media screen and (max-width: $ipad_width) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media screen and (max-width: $big-mobile_width) {
            align-items: center;
            order: 2;
        }
    }
}

.icon {
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    fill: #bde2e4;
    stroke: inherit;
    transition: $transition_all;
}

.scroll-top {
    position: fixed;
    bottom: 110px;
    font-family: $museo_font;
    right: 30px;
    width: 80px;
    height: 80px;
    background-image: url('/images/icon/up.svg');
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    z-index: 999;
    transition: $transition_all;
    &.show {
        opacity: 1;
        visibility: visible;
    }
}
