.header {
    position: absolute;
    top:0;
    left:0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    z-index: 10;
    @media screen and (max-width: $big-mobile_width) {
        background-color: $white;
        height: 61px;
        position: relative;
    }

    &-container {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        @media screen and (max-width: $ipad_width) {
            padding: 0 30px;
        }
        @media screen and (max-width: $big-mobile_width) {
            align-items: center;
            padding: 0 20px;
        }
    }
    &-logo {
        margin-top: 35px;
        margin-right: 100px;
        max-width: 204px;
        width: 100%;
        height: 54px;
        @media screen and (max-width: $ipad_width) {
            margin-right: 50px;
        }
        @media screen and (max-width: $big-mobile_width) {
            width: 140px;
            height: 39px;
            margin-right: 20px;
            margin-top: 0;
            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &-contacts {
        margin-top: 44px;
        margin-left: auto;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        @media screen and (max-width: $big-notebook_width) {
            margin-right: auto;
        }
        @media screen and (max-width: $ipad_width) {
            margin-left: 50px;
            margin-right: 30px;
        }
        @media screen and (max-width: $big-mobile_width) {
            margin: 0 20px 0 0;
        }
        &-phone {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: row nowrap;
            @media screen and (max-width: $big-mobile_width) {
                position: absolute;
                top: 72px;
                left: 30px;
            }
        }
        &__phone {
            color: #4a4a4a;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.25px;
            text-transform: uppercase;
            @media screen and (max-width: $big-mobile_width) {
                font-size: 12px;
                line-height: 14px;
            }
        }
        &__link {
            margin-right: 25px;
            color: #00303c;
            font-size: 18px;
            font-weight: 900;
            letter-spacing: 0.25px;
            position: relative;
            text-decoration: none;
            &:last-of-type {
                margin-right: 0;
                &:before {
                    @include before(6px,-16px);
                    width: 2px;
                    cursor: default;
                    height: 10px;
                    background-color: #4a4a4a;
                    @media screen and (max-width: $big-mobile_width) {
                        top: 5px;
                        left: -10px;
                    }
                }
            }
            @media screen and (max-width: $big-mobile_width) {
                font-size: 16px;
                line-height: 19px;
                margin-right: 13px;
            }
        }
        &__address {
            color: $color_7d8082;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.57px;
            @media screen and (max-width: $big-mobile_width) {
                display: none;
            }
        }
        &__pin {
            padding: 0;
            display: none;
            background: transparent;
            border: none;
            @media screen and (max-width: $big-mobile_width) {
                display: block;
                width: 18px;
                height: 31px;
            }
            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-modal {
            position: absolute;
            left: 20px;
            top: 60px;
            width: calc(100% - 40px);
            padding: 30px;
            display: none;
            background: $white;
            text-align: center;
            box-shadow: 0px 32px 146px rgba(0, 0, 0, 0.205305);
            z-index: 100;
            &.show {
                display: block;
            }
        }
    }
    &-star {
        position: absolute;
        top: 50px;
        left: calc(100% + 80px);
        width: 157px;
        height: 38px;
        @media screen and (max-width: $big-notebook_width) {
            position: static;
            top: 0;
            left: 0;
            align-self: center;
            margin-top: 40px;
        }
        @media screen and (max-width: $ipad_width) {
            max-width: 38px;
            overflow: hidden;
        }
        @media screen and (max-width: $big-mobile_width) {
            margin-top: 0;
            height: 28px;
            width: 28px;
        }
        &__img {
            @media screen and (max-width: $big-mobile_width) {
                width: 110px;
            }
        }
    }
}

.nav {
    margin-top: 50px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row nowrap;
    @media screen and (max-width: $big-notebook_width) {
        flex-direction: column;
        align-items: flex-end;
    }
    @media screen and (max-width: $big-mobile_width) {
        position: absolute;
        margin-top: 0;
        top: 68px;
        right: 33px;
    }
    &-list {
        margin-right: 70px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        @media screen and (max-width: $big-notebook_width) {
            margin-right: 0;
        }
        @media screen and (max-width: $ipad_width) {
            display: none;
        }
    }
    &-item {
        margin-right: 25px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            .nav-submenu {
                padding: 55px 43px;
                width: 100%;
                height: 570px;
                position: absolute;
                left: 40px;
                top: 100%;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                flex-flow: column wrap;
                background: #FFFFFF;
                box-shadow: 0px 32px 146px rgba(0, 0, 0, .2);
                @media screen and (max-width: $ipad_width) {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 40px;
                    z-index: 101;
                    flex-flow: column wrap;
                    width: 100%;
                    height: 1000px;
                    padding-left: 30px;
                    padding-right: 30px;
                }
                @media screen and (max-width: $big-mobile_width) {
                    min-height: 500px;
                    height: auto;
                    flex-wrap: nowrap;
                }
            }
        }
        @media screen and (max-width: $big-notebook_width) {
            margin-right: 15px;
        }
    }
    &__link {
        color: $color_604c45;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.82px;
        transition: $transition_all;
        position: relative;
        &:hover {
            color: $color_00b0b9;
            &:after {
                border-bottom-color: $color_00b0b9;
            }
        }
        &:after {
            @include before(18px,0);
            width: 100%;
            border-bottom: 2px solid transparent;
            transition: $transition_all;
        }
        &_tour {
            color: $color_7d8082;
            font-size: 12px;
            font-weight: 500;
            text-decoration: underline;
            letter-spacing: 0.82px;
            &:after {
                border-color: transparent !important;
            }
            @media screen and (max-width: $big-notebook_width) {
                margin-top: 5px;
                position: absolute;
                bottom: 0px;
            }
            @media screen and (max-width: $ipad_width) {
                position: static;
                bottom: auto;
            }
        }
    }
    &-submenu {
        display: none;
        margin: 0 -40px;
        &.show {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex !important;
        }
        &-list {
            margin: 20px 0 63px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: column nowrap;
            @media screen and (max-width: $big-mobile_width) {
                display: none;
                &.show {
                    margin-top: 0;
                    display: -webkit-flex;
                    display: -ms-flex;
                    display: flex;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: $white;
                    width: 100%;
                    height: 100%;
                    padding: 40px;
                    z-index: 102;
                }
            }
            & .nav-mobile__close {
                display: none;
                @media screen and (max-width: $big-mobile_width) {
                    display: block;
                }
            }
        }
        &-item {
            margin: 0 30px;
            max-width: 220px;
            width: 100%;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: column nowrap;
            @media screen and (max-width: $big-mobile_width) {
                margin-bottom: 25px;
                max-width: 100%;
            }
        }
        &-title {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            & .nav-mobile__arrow {
                display: none;
                @media screen and (max-width: $big-mobile_width) {
                    display: block;
                }
            }
        }
        &__title {
            color: $color_7d8082;
            font-weight: 700;
            line-height: 14px;
            font-size: 12px;
            letter-spacing: 0.8px;
            text-transform: uppercase;
        }
        &__link {
            margin-bottom: 15px;
            color: $color_7d8082;
            font-weight: 600;
            line-height: 14px;
            font-size: 12px;
            letter-spacing: 0.8px;
            @media screen and (max-width: $big-mobile_width) {
                margin: 0 30px 15px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-link {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    &-mobile {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row wrap;
        & .nav-item {
            @include marginAuto();
            margin-bottom: 30px;
            @media screen and (max-width: $big-mobile_width) {
                width: 50%;
            }
            @media screen and (max-width: $mobile_width) {
                width: 100%;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__arrow {
            margin-left: 10px;
            padding: 0;
            width: 8px;
            height: 13px;
            background: transparent;
            border: 6px solid transparent;
            border-left: 7px solid #a59385;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }
        &__close {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 12px;
            height: 12px;
            background: transparent;
            border: none;
            background-image: url('/images/icon/close.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
        }
    }
}

//mobile
.mobile {
    &-menu {
        &-btn {
            display: none;
            @media screen and (max-width: $ipad_width) {
                display: block;
                width: 29px;
                height: 29px;
                background: transparent;
                background-image: url('/images/icon/burger.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                position: absolute;
                right: 30px;
                top: 55px;
                border: none;
            }
            @media screen and (max-width: $big-mobile_width) {
                top: auto;
                right: 20px;
            }
        }
        &-wrapper {
            display: none;
            position: absolute;
            top: 115px;
            max-width: calc(100% - 60px);
            width: 100%;
            @include marginAuto();
            padding: 50px 70px;
            background: $white;
            box-shadow: 0 32px 146px 0 rgba(0,0,0,0.21);
            z-index: 100;
            @media screen and (max-width: $big-mobile_width) {
                top: 65px;
                left: 0;
                max-width: 100%;
            }
            &.show {
                display: block;
            }
        }
    }
}
