/* adaptive */
$big-notebook_width: 1600px;
$bigpc_width: 1401px;
$smallpc_width: 1400px;
$container-min_width: 1301px;
$container_width: 1300px;
$laptop_width: 1199px;
$ipad_width: 1024px;
$tablet_min_width: 992px;
$tablet_width: 991px;
$big-mobile-min_width: 768px;
$big-mobile_width: 767px;
$s_mobile_width: 600px;
$mobile_width: 480px;

/* fonts */
$museo_font: "Museo Sans Cyrl";
$cambria: "Cambria";

/* colors */
$color_00303c: #00303c;
$color_00b0b9: #00b0b9;
$color_87cfcd: #87cfcd;
$white: #ffffff;
$color_7d8082: #7d8082;
$color_705f50: #705f50;
$color_d9d1ca: #d9d1ca;
$color_f7f7f3: #f7f7f3;
$color_604c45: #604c45;

/*others*/
$transition_all: all .3s ease-in-out;
