@import "../../css/partials/variables";
@import "../../css/partials/mixins";

.gallery {
    margin-top: 90px;
    margin-bottom: 230px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    position: relative;
    @media screen and (max-width: $ipad_width) {
        margin-top: 50px;
        margin-bottom: 0;
    }
    @media screen and (max-width: $big-mobile_width) {
        margin-top: 20px;
    }
    &-slider {
        width: 100%;
        height: 850px;
        @media screen and (max-width: $ipad_width) {
            height: 580px;
        }
        @media screen and (max-width: $big-mobile_width) {
            height: 420px;
        }
        &-item {
            cursor: pointer;
            max-height: 642px;
            height: 100%;
            @media screen and (max-width: $ipad_width) {
                max-height: 382px;
            }
            @media screen and (max-width: $big-mobile_width) {
                max-height: 220px;
            }
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    &-thumbs {
        @include marginAuto();
        margin-top: 40px;
        max-width: 980px;
        width: 100%;
        max-height: 90px;
        height: 100%;
        position: absolute;
        bottom: 78px;
        &-item {
            cursor: pointer;
            &:before {
                @include before(0,0);
                width: 100%;
                height: 100%;
                background-color: transparent;
                z-index: 10;
                transition: $transition_all;
            }
            &.swiper-slide-thumb-active {
                &:before {
                    background-color: rgba(0, 176, 185, 0.5);
                }
            }
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-arrows {
        position: absolute;
        bottom: 98px;
        width: 100%;
        height: 50px;
        z-index: 100;
        @media screen and (max-width: $ipad_width) {
            display: none;
        }
    }
    &-arrow {
        position: absolute;
        bottom: 0;
        width: 50px;
        height: 50px;
        background-color: $color_d9d1ca;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:before {
            @include before(auto,auto);
            width: 13px;
            height: 13px;
            border: 6px solid transparent;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }
        &_prev {
            left: 0;
            border-radius: 4px 0 0 0;
            &:before {
                border-right: 7px solid #a59385;
                transform: translateX(-4px);
            }
            &:hover {
                &:before {
                    border-right-color: $color_00b0b9;
                }
            }
            &:active {
                &:before {
                    border-right-color: #c5ece9;
                }
            }
        }
        &_next {
            right: 0;
            border-radius: 0 4px 0 0;
            &:before {
                border-left: 7px solid #a59385;
                transform: translateX(4px);
            }
            &:hover {
                &:before {
                    border-left-color: $color_00b0b9;
                }
            }
            &:active {
                &:before {
                    border-left-color: #c5ece9;
                }
            }
        }
    }
}

.pagination {
    &_gallery {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 18px;
        & .swiper-pagination-bullet {
            margin: 0 7px;
            width: 2px;
            height: 14px;
            background-color: #a2aaad;
            border-radius: 0;
            transition: $transition_all;
            &-active {
                height: 18px;
                background-color: $color_705f50;
            }
        }
    }
}
