@import "../css/partials/variables";
@import "../css/partials/mixins";

.price {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column nowrap;
    &-item {
        margin-bottom: 30px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
    }
    &__btn {
        border: none;
        &_active {
            &:before {
                transform: translateX(0px) translateY(4px) rotate(90deg);
            }
        }
        &:focus {
            outline: none;
        }
    }
    &-link {
        padding: 30px 0 30px 40px;
        position: relative;
        background-color: #f8f8f3;
        @media screen and (max-width: $big-mobile_width) {
            padding-left: 20px;
            & .h3 {
                font-size: 16px;
            }
        }
    }
    &-list {
        padding: 40px 50px;
        display: none;
        border-radius: 0 0 4px 4px;
        background-color: #d9d1ca;
        &.active {
            display: block;
        }
        @media screen and (max-width: $big-mobile_width) {
            padding: 20px 25px;
        }
        &-item {
            margin-bottom: 20px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }
    &-name {
        max-width: 80%;
        &__title {
            color: $color_705f50;
            font-size: 16px;
            font-weight: 800;
            letter-spacing: 1.12px;
            line-height: 22px;
            text-transform: uppercase;
            @media screen and (max-width: $big-mobile_width) {
                font-size: 11px;
                line-height: 17px;
            }
        }
    }
    &__cost {
        color: $color_705f50;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1.12px;
        line-height: 22px;
        text-transform: uppercase;
        @media screen and (max-width: $big-mobile_width) {
            font-size: 11px;
            line-height: 17px;
            white-space: nowrap;
        }
    }
}

.section {
    &-layer {
        &__img {
            height: auto;
        }
    }
}
