@import "../css/partials/variables";
@import "../css/partials/mixins";

.box {
    &-wrapper {
        flex-flow: row wrap;
        @media screen and (max-width: $ipad_width) {
            flex-flow: unset;
        }
    }
    &-slide {
        height: auto;
        @media screen and (max-width: $ipad_width) {
            height: 100%;
        }
    }
    &-desc {
        height: calc(100% - 260px);
        @media screen and (max-width: $ipad_width) {
            height: auto;
        }
    }
    &-item {
        height: 100%;
        &_last {
            max-width: none;
            width: 486px;
            left: 50%;
        }
    }
}
