@import "../../../css/partials/variables";
@import "../../../css/partials/mixins";

@media screen and (max-width: $ipad_width) {
    .main-container {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.section {
    &-title {
        max-width: 925px;
    }
}
