@import "../../css/partials/variables";
@import "../../css/partials/mixins";

.doctors {
    &-container {
        width: 100%;
    }
    &-slide {
        display: none;
        &.active {
            display: block;
        }
    }
    &-wrapper {
        flex-wrap: wrap;
        @media (max-width: 1050px) {
            flex-wrap: unset;
        }
    }
    &-detail {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        &-img {
            margin-top: 90px;
            width: 100%;
            max-height: 540px;
            height: 100%;
            @media screen and (max-width: $ipad_width) {
                margin-left: 0;
                margin-top: 60px;
            }
        }
        &-header {
            margin-top: 90px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            flex-flow: column nowrap;
            text-align: center;
            & .subtitle {
                color: $color_705f50;
                font-size: 16px;
                font-weight: 800;
                letter-spacing: 1.12px;
                line-height: 22px;
                text-transform: uppercase;
            }
        }
    }
    &-education {
        margin-top: 150px;
        @media screen and (max-width: $ipad_width) {
            margin-top: 60px;
        }
    }
    &-sertificate {
        margin-top: 150px;
        position: relative;
        width: 100%;
        & .license {
            margin-top: 70px;
            max-width: 100%;
            width: 100%;
            position: relative;
            height: 566px;
        }
    }
    &-works {
        margin-top: 150px;
    }
    &.news {
        @media screen and (max-width: $big-mobile_width) {
            margin-left: 0;
            transform: none;
        }

    }
}

.section {
    &-layer {
        &__img {
            height: auto;
        }
    }
}

.news {
    &__text {
        color: #5F6162;
        font-size: 14px;
        line-height: 26px;
    }
}

.btn {
    &_news {
        @media screen and (max-width: $big-mobile_width) {
            max-width: none;            
        }
    }
}