@import "../css/partials/variables";
@import "../css/partials/mixins";

#map {
    width: 100%;
    height: 800px;
    @media screen and (max-width: $big-mobile_width) {
        height: 480px;
    }
}

.inf {
    margin-top: 0;
    margin-bottom: 80px;
    &-contacts {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row wrap;
    }
    &-item {
        max-width: 200px;
        width: 100%;
        @media screen and (max-width: $tablet_width) {
            max-width: 50%;
            align-items: center;
        }
        @media screen and (max-width: $big-mobile_width) {
            max-width: 100%;
        }
    }
}

.main-container {
    @media screen and (max-width: $ipad_width) {
        padding-top: 0;
        padding-bottom: 0;
    }
}
