.inf {
    overflow: visible;
    @media screen and (max-width: 1025px) {
        overflow: hidden;
    }
    &-item {
        &_bq {
            left: 0;
            top: 110px;
            position: relative;
        }
    }
}

.main-container {
    @media screen and (max-width: 1024px) {
        padding-top: 0;
        padding-bottom: 0;
    }
}
